<div class="container mt-5">
  <div class="header-container">
    <h2>Mes Disponibilités</h2>
    <button class="btn btn-primary mb-3 add-disponibility-button" routerLink="/form">Add Disponibility</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Date</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dispo of disponibilities">
        <td>{{ dispo.disponibility.time }}</td>
        <td>{{ dispo.disponibility.date  }}</td>
        <td>{{ dispo.disponibility.price  }}DA</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteDisponibility(dispo.disponibility.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
