<div class="container">
  <h1>Bienvenue sur notre application !</h1>
  <p>Cette application vous permet de réserver des rendez-vous avec des professionnels ou de consulter vos rendez-vous passés facilement et rapidement.</p>
  <div class="card-container">
    <div class="card">
      <h3>Réserver un rendez-vous</h3>
      <p>Choisissez parmi les disponibilités offertes par nos professionnels et planifiez votre rendez-vous.</p>
      <button routerLink="/book-appointment" class="btn btn-primary">Réserver un rendez-vous</button>
    </div>
    <div class="card">
      <h3>Consulter mes rendez-vous</h3>
      <p>Accédez à la liste de vos rendez-vous passés ou à venir. consulter les status des rendez vous de chaque prefessionnel</p>
      <button routerLink="/rendezvous" class="btn btn-secondary">Consulter mes rendez-vous</button>
    </div>
  </div>
</div>
