.home-container {
  text-align: center;
  margin-top: 100px;
}

.home-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-client {
  background-color: #007bff;
  color: white;
}

.btn-client:hover {
  background-color: #0056b3;
}

.btn-professional {
  background-color: #28a745;
  color: white;
}

.btn-professional:hover {
  background-color: #1c7c31;
}
